In [2]:
from bs4 import BeautifulSoup
import requests

In [49]:
url = 'https://www.basketball-reference.com/leagues/NBA_2018.html'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'lxml')
table = soup.find('table', {'id':'confs_standings_E'})

In [159]:
import pandas as pd

def tablefunction(url):
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'lxml')
    table = soup.find_all('table')
    for each in table:
        data = pd.read_html(str(table[0]))
        return pd.DataFrame(data[0])

tablefunction('https://www.sports-reference.com/olympics/summer/')

,Year,City,Country,Countries,Participants,Men,Women,Sports,Events
0,2016,Rio de Janeiro,Brazil,207,11191,6147,5037,34,306
1,2012,London,Great Britain,205,10517,5864,4653,32,302
2,2008,Beijing,China,204,10902,6290,4610,34,303
3,2004,Athina,Greece,201,10560,6257,4303,34,301
4,2000,Sydney,Australia,200,10648,6579,4068,34,300
5,1996,Atlanta,United States,197,10344,6820,3521,31,271
6,1992,Barcelona,Spain,169,9386,6659,2721,29,257
7,1988,Seoul,South Korea,159,8454,6249,2203,27,237
8,1984,Los Angeles,United States,140,6799,5224,1567,26,221
9,1980,Moskva,Soviet Union,80,5259,4135,1123,23,203
10,1976,MontrÃ©al,Canada,92,6073,4812,1260,23,198
11,1972,MÃ¼nchen,West Germany,121,7114,6053,1060,23,195
12,1968,Ciudad de MÃ©xico,Mexico,112,5558,4775,783,20,172
13,1964,Tokyo,Japan,93,5137,4457,680,21,163
14,1960,Roma,Italy,83,5352,4738,613,19,150
15,1956,Melbourne,Australia,67,3189,2818,371,18,145
16,1952,Helsinki,Finland,69,4932,4411,521,19,149
17,1948,London,Great Britain,59,4397,3950,446,21,149
18,1936,Berlin,Germany,49,4484,4123,361,24,143
19,1932,Los Angeles,United States,47,1922,1721,201,18,126
20,1928,Amsterdam,Netherlands,46,3250,2937,312,17,120
21,1924,Paris,France,45,3256,3100,156,20,130
22,1920,Antwerpen,Belgium,29,2677,2599,78,25,160
23,1912,Stockholm,Sweden,29,2424,2356,53,17,107
24,1908,London,Great Britain,22,2024,1980,44,24,109
25,1906,Athina,Greece,21,841,835,6,13,74
26,1904,St. Louis,United States,15,650,644,6,18,95
27,1900,Paris,France,31,1224,1201,23,20,95
28,1896,Athina,Greece,12,176,176,0,9,43